<!DOCTYPE html>
<html ng-app="foodapp" ng-strict-di>
  <head>
    <title>FOOOOOD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

  </head>

    <%= yield %>

</html>
