<!DOCTYPE html>
<html ng-app="foodapp" ng-strict-di>
  <head>
    <title>FOOOOOD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

  </head>
  <div class="head">
    <div class=column">
      <button type="button" ng-click="updateData()">Update food from API</button>
    </div>
    <div class=column">
      <a type="button" href="http://localhost:3000/foods">Browse food DB</a>
    </div>
    <div class=column">
      <a type="button" href="http://0.0.0.0:3000/">Meals</a>
    </div>
    <div class=column">
      <a href="http://localhost:3000/types">Browse types DB</a>
    </div>
  </div>

    <%= yield %>

</html>
